# --- APPLICATION SETTINGS ---
# Options: development | production
ENV=development

# Options: DEBUG | INFO | WARNING | ERROR
LOG_LEVEL=INFO

# DATABASE
DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DB_NAME?sslmode=require


