# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
.venv/
venv/

# =========================
# Environment Variables
# =========================
.env

# =========================
# Logs & Runtime Artifacts
# =========================
logs/*.json
logs/*.log

# =========================
# Data Outputs (Generated)
# =========================
data/bronze/*
data/silver/*
data/gold/*

!data/gold/aggregates.csv
!data/gold/data_freshness.json

# =========================
# Testing
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Docker
# =========================
*.log
docker-compose.override.yml

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/
