services:
  pipeline:
    build:
      context: .
      dockerfile: Dockerfile

    image: dataflow-sentinel:latest
    container_name: dataflow-sentinel

    env_file:
      - .env.local

    volumes:
      - ./data:/app/data
      - ./logs:/app/logs

    extra_hosts:
      - "host.docker.internal:host-gateway"

    command: python -m src.pipeline


